Package: com.thejspythonator.app
Name: app
Version: 0.0.1
Architecture: iphoneos-arm
Description: Displays an alert on respring. 
Maintainer: theJSPythonator 
Author: theJSPythonator 
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
